.root {
    -fx-background-color: #E8F8FF;
}

.button {
    -fx-background-color: #30CDBD;
    -fx-text-fill: #FFFFFF;
}

#title {
    -fx-fill: #125972;
    -fx-font-size: 36;
}

.blue-spinner .arc {
    -fx-stroke: #125972;
}